TemperatureConverter/WebContent/wsdl/Converter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.com" xmlns:intf="http://service.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fahrenhietToCelcius">
    <complexType>
     <sequence>
      <element name="fahrenhiet" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="fahrenhietToCelciusResponse">
    <complexType>
     <sequence>
      <element name="fahrenhietToCelciusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="fahrenhietToCelciusRequest">

      <wsdl:part element="impl:fahrenhietToCelcius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fahrenhietToCelciusResponse">

      <wsdl:part element="impl:fahrenhietToCelciusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Converter">

      <wsdl:operation name="fahrenhietToCelcius">

         <wsdl:input message="impl:fahrenhietToCelciusRequest" name="fahrenhietToCelciusRequest">

       </wsdl:input>

         <wsdl:output message="impl:fahrenhietToCelciusResponse" name="fahrenhietToCelciusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ConverterSoapBinding" type="impl:Converter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fahrenhietToCelcius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fahrenhietToCelciusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fahrenhietToCelciusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ConverterService">

      <wsdl:port binding="impl:ConverterSoapBinding" name="Converter">

         <wsdlsoap:address location="http://localhost:8080/TemperatureConverter/services/Converter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
